# Ignorar archivos de credenciales

./credentials.json
./token.json

# Ignorar archivos y directorios comunes en un proyecto Django
*.pyc
__pycache__/
db.sqlite3
*.log
*.pot
*.py[cod]
*.swp
*.swo
*.bak
*.orig
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.tox/
dist/
build/
*.egg-info/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
*.mo
*.pot
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
credentials.json
token.json